<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
  <div id="main_area">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
	  
	  <h1>Sovelluksesta</h1>

	  <p>Ensimmäisellä karttalehdellä on visualisoitu avoimia aineistoja, joiden toteuttaja arvelisi olevan kiinnostavia
	  ikäihmisille. Tarkoitus on, että kun sovelluksen ideoija Marko Suvila esittelee sovellusta <a href="http://likioma.fi/">Likioma-projektissa</a>, niin ikäihmisiltä tulisi ideoita, millaisia sovelluksia heille voisi avoimen paikkatiedon pohjalta toteuttaa.</p>
	  
	  <p>Toisen karttalehden liikennevalovisualisointi ei ole erityisesti ikäihmisille suunnattu, mutta luonnollisesti ikäihmisetkin liikkuvat kävellen ja autoillen liikenteessä, joten myös sen osalta heiltä voi tulla sovellusideoita.</p>

	  <h2>Tiimi</h2>
	  
	  <p><b>Marko Suvila</b>:lla oli idea tehdä 3D-kartta ikäihmisille. Lisäksi hänellä oli idea  &quot;Lisätään visittampere.fi ja Teosto API:n palvelun tiedot näkymään Tampereen 3D näkymässä. Näkymässä tapahtumapaikan kohdalla näkyisi vaikka Paula Koivuniemen artistikuva ja tapahtumapaikalta nousisi nuottiavaimia. Samanlainen visualisointi (nousevia kuvakkeita) myös taidetapahtumille ja muille.
Samassa näkymässä näkyy myös bussit ajelemassa (viime vuoden kilpailutyön mukaisesti)&quot;. Tätä jälkimmäistä ideaa ei kuitenkaan työssä toteutettu.</p>

	  <p><b>Erno Mäkinen</b> toteutti Marko Suvilan idean oman näkemyksensä, kiinnostuksiensa ja osaamisensa mukaisesti.</p>

	  <h2>3D-mallit</h2>

	  <p>Sovellusta varten Erno Mäkisen luomat 3D-mallit ovat käytettävissä <a href="https://creativecommons.org/licenses/by/4.0/deed.fi" target="_blank">CC-BY 4.0 -lisenssin</a> mukaisesti. Vapaan lähdekoodin <a href="https://www.blender.org/">Blender</a> -sovelluksen .blend-projektitiedostot ja tämän sovelluksen 3D-toteutuksessa käytetyn vapaan lähdekoodin <a href="http://threejs.org/">Three.js</a>-kirjastoon luettavat OBJMTL-mallit ovat <a href="/3d/models.html">omalla sivullaan</a>.

	  <h2>Sovelluksen lähdekoodi</h2>
	
	  <p>Lähdekoodi on julkaistu <a href="https://github.com/ernoma/" target="_blank">GitHubissa.</a></p>
	  
	  <h1>Sovelluksessa hyödynnetty avoin data</h1>

	  <ul>
            <li>Tampereen kaupungin uimahallit ja kirjastot aineistoja, 2015, <a href="http://www.tampere.fi/tampereen-kaupunki/tietoa-tampereesta/avoin-data.html" target="_blank">data.tampere.fi</a>, <a href="http://www.tampere.fi/tampereen-kaupunki/tietoa-tampereesta/avoin-data/avoin-data-lisenssi.html" target="_blank">Tampereen kaupungin Avoin data -lisenssi</a> ja <a href="http://visittampere.fi/api-docs/#!/default/search_get" target="_blank">VisitTampere API</a>:n kohdeaineistoja, <a href="https://creativecommons.org/licenses/by/4.0/deed.fi" target="_blank">CC-BY 4.0 -lisenssi</a></li>
            <li>Maanmittauslaitoksen ortoilmakuva ja korkeusemalli-aineistoja, 09/2015, <a href="http://www.maanmittauslaitos.fi/avoimen-tietoaineiston-cc-40-lisenssi" target="_blank">CC BY 4.0 -lisenssi</a></li>
	    <li>ITS Factoryn reaaliaikaista liikennevalo aineistoa, 2015, <a href="http://data.itsfactory.fi/files/trafficlights/" target="_blank">lisätietoja</a> ja reaaliaikaista bussien sijaintitietoa, 2015,  <a href="http://wiki.itsfactory.fi/index.php/Tampere_Public_Transport_SIRI_Interface_(Realtime_JSON_at_data.itsfactory.fi)" target="_blank">lisätietoja</a>, <a href="http://www.tampere.fi/tampereen-kaupunki/tietoa-tampereesta/avoin-data/avoin-data-lisenssi.html" target="_blank">Tampereen kaupungin Avoin data -lisenssi</a></li>
	    <li>Teosto Open API:n vuoden 2014 aineistoja, <a href="http://api.teosto.fi/termsandconditions.html" target="_blank">käyttöehdot</a></li>
	    <li>OpenStreetMapin aineistoja, <a href="http://www.openstreetmap.org/copyright" target="_blank">CC-BY-SA 2.0 -lisenssi</a></li>
          </ul>
	  
	</div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#about').addClass("active");
    });
  </script>
</body>
</html>
