<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
  <div id="main_area">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
	  
	  <h1>Sovelluksesta</h1>
	  
	  <h2>3D-mallit</h2>

	  <h2>Sovelluksen lähdekoodi</h2>
		  
	  <h1>Sovelluksessa hyödynnetty avoin data</h1>

	  <p>Testi</p>

	  
	</div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#about').addClass("active");
    });
  </script>
</body>
</html>
