<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
  <!--<div id="main_area">-->
    <!--<div class="container">-->
    <div id="Stats-output"></div>
    <div id="webgl">
      <div id="legend">
	<div class="legend_list_item">
	  <div class="legend_item_column">Apteekit</div>
	  <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/pharmacy.png" alt="apteekki"></div>
	  <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
	</div>
	<div class="legend_list_item">
	  <div class="legend_item_column">Bussit</div>
	  <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/bussi.png" alt="bussi"></div>
	  <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
	</div>
	<div class="legend_list_item">
          <div class="legend_item_column">Kahvilat</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/cafe.png" alt="kahvila"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Kaupat</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/shop.png" alt="kauppa"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Kirjastot</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/library.png" alt="kirjasto"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Maamerkit</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/landmark.png" alt="maamerkki"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Pankit</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/bank.png" alt="pankki"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Postilaatikot</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/letter.png" alt="postilaatikko"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Postit</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/post_office.png" alt="posti"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Tapahtumapaikat</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/clef.png" alt="tapahtumapaikka"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
	<div class="legend_list_item">
          <div class="legend_item_column">Uimahallit</div>
          <div class="legend_item_column"><img width="64" height="64" src="/images/legend_icons/swimming.png" alt="uimahalli"></div>
          <div class="legend_item_column"><input type="checkbox" name="legend_checkbox" checked data-on-text="Näytä" data-off-text="Piilota"></div>
        </div>
      </div>
    </div>

    <div id="loading">
      <div id="spinner"></div>
      <div id="loading_text"></div>
    </div>

  <!--</div>-->

  <!--</div>-->
  <!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap-switch/bootstrap-switch.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
  <!--<script type="text/javascript" src="/vendor/Leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>-->
  <script type="text/javascript" src="/vendor/spin.min.js"></script>
  <script type="text/javascript" src="/vendor/threejs/three.min.js"></script>
  <script type="text/javascript" src="/vendor/d3/d3.min.js"></script>
  <script type="text/javascript" src="/vendor/threejs/TrackballControls.js"></script>
  <script type="text/javascript" src="/vendor/stats.js"></script>
  <script type="text/javascript" src="/vendor/dat.gui.js"></script>
  <script type="text/javascript" src="/vendor/q-1.4.1/q.js"></script>
  <script type="text/javascript" src="/vendor/threejs/TerrainLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/STLLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/OBJLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/MTLLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/OBJMTLLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/Projector.js"></script>
  <script type="text/javascript" src="/vendor/threejs/physijs/physi.js"></script>
  <script type="text/javascript" src="/vendor/threejs/physijs/physijs_worker.js"></script>
  
  <!--<script type="text/javascript" src="/fonts/droid/droid_sans_regular.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_sans_mono_regular.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_sans_bold.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_serif_regular.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_serif_bold.typeface.js"></script>-->
  <!--<script type="text/javascript" src="/fonts/Symbola_regular.typeface.js"></script>-->
  <script type="text/javascript">
    $(document).ready(function() {
    $('#play').addClass("active");
    });
  </script>
  <!--<script type="text/javascript" src="/js/api_keys.js"></script>-->
  <script type="text/javascript" src="/js/3dmap.js"></script>
</body>
</html>
