<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
  <!--<div id="main_area">-->
    <!--<div class="container">-->
    <div id="Stats-output"></div>
    <div id="webgl">
      <div id="object_info">
      </div>
      <div id="legend">
	<div id="legend_title">Karttaselitteet</div>
	<div id="legend_min"><a id="legend_min_href" href="#minimize"><img width="15" height="15" id="legend_min_img" src="/images/arrow_carrot-down.png"></a></div>
	<div id="legend_items"></div>
      </div>
    </div>

    <div id="loading">
      <div id="loading_title">Sovelluksen käynnistys</div>
      <div id="loading_min"><a id="loading_min_href" href="#minimize"><img width="15" height="15" id="loading_min_img" src="/images/arrow_carrot-down.png"></a></div>
      <div id="loading_close"><a id="loading_close_href" href="#close"><img width="15" height="15" id="loading_close_img" src="/images/icon_close.png"></a></div>
      <div id="loading_items">
	<div id="spinner"></div>
	<div id="loading_text"></div>
      </div>
    </div>

  <!--</div>-->

  <!--</div>-->
  <!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap-switch/bootstrap-switch.min.js"></script>
  <!--<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>-->
  <!--<script type="text/javascript" src="/vendor/Leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>-->
  <script type="text/javascript" src="/vendor/spin.min.js"></script>
  <script type="text/javascript" src="/vendor/threejs/three.min.js"></script>
  <script type="text/javascript" src="/vendor/d3/d3.min.js"></script>
  <script type="text/javascript" src="/vendor/threejs/TrackballControls.js"></script>
  <script type="text/javascript" src="/vendor/stats.js"></script>
  <script type="text/javascript" src="/vendor/dat.gui.js"></script>
  <script type="text/javascript" src="/vendor/q-1.4.1/q.js"></script>
  <script type="text/javascript" src="/vendor/threejs/TerrainLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/STLLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/OBJLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/MTLLoader.js"></script>
  <script type="text/javascript" src="/vendor/threejs/OBJMTLLoader.js"></script>
  <!--<script type="text/javascript" src="/vendor/threejs/Projector.js"></script>-->
  <!--<script type="text/javascript" src="/vendor/threejs/physijs/physi.js"></script>
  <script type="text/javascript" src="/vendor/threejs/physijs/physijs_worker.js"></script>-->
  <!--<script type="text/javascript" src="/fonts/droid/droid_sans_regular.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_sans_mono_regular.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_sans_bold.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_serif_regular.typeface.js"></script>
  <script type="text/javascript" src="/fonts/droid/droid_serif_bold.typeface.js"></script>-->
  <!--<script type="text/javascript" src="/fonts/Symbola_regular.typeface.js"></script>-->
  <script type="text/javascript">
    $(document).ready(function() {
    $('#play').addClass("active");
    });
  </script>
  <!--<script type="text/javascript" src="/js/api_keys.js"></script>-->
  <script type="text/javascript" src="/js/3dmap.js"></script>
</body>
</html>
