<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <% include navbar %>
  
  <!--<div id="main_area">-->
    <!--<div class="container">-->
    <div id="Stats-output"></div>
    <div id="webgl">
      <div id="object_info">
      </div>
      <div id="legend_junction">
	<div id="legend_junction_title">Kartan sisältö</div>
	<div id="legend_min"><a id="legend_min_href" href="#minimize"><img width="15" height="15" id="legend_min_img" src="/images/arrow_carrot-down.png"></a></div>
	<div id="legend_junction_content">
	  <p>
	  Kartalla 15 liikennevaloa, joista:
	  <ul>
	    <li>8 ajoneuvojen liikennevaloa
	    <li>7 jalankulkijoiden liikennevaloa
	  </ul>
	  </p>

	  <p>Liikennevalojen tila päivitetään kerran sekunnissa ITS Factoryn avoimen datan perusteella. Liikennevalotietoja olisi tarjolla myös Oulun Professorintien/Kajaanintien risteyksestä.</p>

	  <p>Liikennevalojen tilan lisäksi saatavilla olisi liikennetunnistimien reaaliaikaista dataa.<p>

	  <p><a href="http://data.itsfactory.fi/files/trafficlights/" target="_blank">Lisätietoa</a> ITS Factoryn sivuilla.</p>
	</div>
      </div>
    </div>

    <div id="loading">
      <div id="loading_title">Käynnistys</div>
      <div id="loading_min"><a id="loading_min_href" href="#minimize"><img width="15" height="15" id="loading_min_img" src="/images/arrow_carrot-down.png"></a></div>
      <div id="loading_close"><a id="loading_close_href" href="#close"><img width="15" height="15" id="loading_close_img" src="/images/icon_close.png"></a></div>
      <div id="loading_items">
	<div id="spinner"></div>
	<div id="loading_text"></div>
      </div>
    </div>

  <!--</div>-->

  <!--</div>-->
  <!-- /container -->

  <% include footer %>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap-switch/bootstrap-switch.min.js"></script>
  <script type="text/javascript" src="/vendor/spin.min.js"></script>
  <script type="text/javascript" src="/vendor/threejs/three.min.js"></script>
  <script type="text/javascript" src="/vendor/d3/d3.min.js"></script>
  <script type="text/javascript" src="/vendor/threejs/TrackballControls.js"></script>
  <script type="text/javascript" src="/vendor/stats.js"></script>
  <script type="text/javascript" src="/vendor/dat.gui.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#junction').addClass("active");
    });
  </script>
  <script type="text/javascript" src="/js/junction.js"></script>
</body>
</html>
